
.hover-target .monedero {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    margin-right: 33px;
    margin-left: 33px;
}

.hover-target:hover .monedero {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 55%;
    left: 1190px;
}


img.buttonLogout {
    height: 20px !important;
    width: 20px !important;
    position: relative;
}
.star-icon {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}

.button {
    position: relative;
    line-height: 120%;
    white-space: nowrap;
}

.inicia-sesin-regstrate {
    border-radius: var(--radius-200);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-smi);
    gap: var(--space-200);
}

.inicia-sesin-regstrate,
.inicia-sesin-regstrate-wrapper,
.inicia-sesin-regstrate1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.inicia-sesin-regstrate1 {
    border-radius: var(--radius-200);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-mini) var(--padding-xs);
    gap: var(--space-200);
}

.inicia-sesin-regstrate-wrapper {
    flex-direction: column;
    padding: 0 var(--padding-6xl) 0 0;
}

.logoblanco-icon {
    height: 59.4px;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    object-fit: cover;
}

.inicia-sesin-regstrate-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-12xs-2);
    max-width: 100%;
}

.value {
    flex: 1;
    position: relative;
    line-height: 100%;
    padding-top:7px;
}

.search-icon {
    width: 25px;
    height: 25px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    padding-top:5px;
}

.buscador,
.search-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
}

.buscador {
    width: 162.8px;
    border-radius: var(--radius-full);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    padding: 16.5px var(--space-400);
    box-sizing: border-box;
    gap: var(--space-200);
}

.button2 {
    position: relative;
    line-height: 120%;
    white-space: nowrap;
    margin-right:33px;
    margin-left:33px;
}

.inicia-sesin-regstrate2 {
    border-radius: var(--radius-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini);
    gap: var(--space-200);
}

.buscador-parent {
    align-items: flex-end;
    gap: var(--gap-12xs-2);
}

.buscador-parent,
.desktop-1-inner,
.frame-parent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 100%;
}

.frame-parent {
    flex: 1;
    align-items: flex-end;
    gap: 25.6px;
}

.desktop-1-inner {
    width: 1527.4px;
    align-items: flex-start;
    padding: 0 26px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-ghostwhite);
    font-family: var(--body-base);
}

.footer-child {
    width: 1921px;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-indigo);
    box-sizing: border-box;
    max-width: 134%;
    flex-shrink: 0;
}

.text-strong1 {
    position: relative;
    line-height: 140%;
    font-weight: 600;
    display: inline-block;
    min-width: 125px;
}

.text-strong {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-item {
    width: 178px;
    position: relative;
    line-height: 23px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
}

.preguntas-frecuentes {
    width: 89px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
}

.list-item1 {
    width: 132px;
    position: relative;
    line-height: 140%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    white-space: nowrap;
}

.ayuda-para-emprendedoras {
    width: 89px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    box-sizing: border-box;
}

.list-item2 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 140%;
    display: none;
}

.text-link-list-item {
    width: 89px;
    height: 22px;
    position: relative;
    display: none;
}

.list-item5 {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 140%;
}

.contctanos {
    width: 203px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--space-300);
}

.text-strong3 {
    position: relative;
    line-height: 140%;
    font-weight: 600;
}

.descubre-proyectos {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--space-400);
    font-size: var(--font-size-xl);
}

.list-item10,
.list-item11,
.list-item12,
.list-item7,
.list-item8,
.list-item9 {
    width: 158px;
    position: relative;
    line-height: 23px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.list-item10,
.list-item11,
.list-item12,
.list-item8,
.list-item9 {
    width: 106px;
    line-height: 140%;
}

.list-item10,
.list-item11,
.list-item12,
.list-item9 {
    width: 177px;
    line-height: 23px;
}

.list-item10,
.list-item11,
.list-item12 {
    width: 132px;
    line-height: 140%;
}

.list-item11,
.list-item12 {
    width: 124px;
}

.list-item12 {
    width: 114px;
    line-height: 23px;
}

.list-item13 {
    position: relative;
    line-height: 140%;
    display: inline-block;
    min-width: 87px;
}

.comunidad,
.descubre-proyectos-categora {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.comunidad {
    flex-direction: row;
    padding: 0 var(--padding-11xs) 0 0;
}

.descubre-proyectos-categora {
    flex: 1;
    flex-direction: column;
    gap: var(--space-300);
    min-width: 196px;
}

.list-item14,
.list-item15,
.list-item16,
.list-item18,
.list-item22 {
    width: 163px;
    position: relative;
    line-height: 140%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.list-item15,
.list-item16,
.list-item18,
.list-item22 {
    width: 129px;
    line-height: 23px;
}

.list-item16,
.list-item18,
.list-item22 {
    width: 167px;
}

.list-item18,
.list-item22 {
    width: 134px;
}

.list-item22 {
    width: 210px;
}

.second-footer-column {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-19xl);
    min-width: 560px;
    max-width: 100%;
}

.sguenos {
    position: relative;
    line-height: 140%;
    font-weight: 600;
    display: inline-block;
    min-width: 91px;
}

.logo-x-icon {
    width: 32px;
    height: 32px;
    position: relative;
}

.logo-x-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
}

.linkedin-icon,
.logo-youtube-icon {
    width: 32px;
    height: 32px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.social-icons {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}

.first-footer-column,
.footer-columns,
.social-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.social-links {
    width: 209px;
    flex-direction: column;
    gap: var(--gap-mid);
    font-size: var(--font-size-xl);
}

.first-footer-column,
.footer-columns {
    flex-direction: row;
    max-width: 100%;
}

.first-footer-column {
    flex: 1;
    flex-wrap: wrap;
    gap: var(--gap-19xl);
}

.footer-columns {
    width: 1416px;
    padding: 0 33px 5px;
    box-sizing: border-box;
}

.frame-child {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-indigo);
    box-sizing: border-box;
}

.crowdsisters {
    width: 214px;
    position: relative;
    line-height: 120%;
    display: inline-block;
    flex-shrink: 0;
}

.social-icon-items1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
}

.desktop-1,
.footer,
.line-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.line-parent {
    align-self: stretch;
    gap: 14px;
    text-align: left;
    font-size: var(--font-size-xl);
    color: #c3a3da;
    font-family: var(--font-roboto);
}

.desktop-1,
.footer {
    overflow: hidden;
    box-sizing: border-box;
}

.footer {
    align-self: stretch;
    background-color: var(--color-ghostwhite);
    padding: var(--padding-xs) 0 var(--padding-xl);
    gap: var(--gap-14xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--body-base-size);
    color: var(--text-default-default);
    font-family: var(--body-base);
}

.desktop-1 {
    width: 100%;
    /*background: url(../img/ProyectoEcoBeauty.jpg) no-repeat center;*/
    background-size: cover;
    background-color: transparent;
    padding: 0px 0 0;
    gap: 521.6px;
    line-height: normal;
    letter-spacing: normal;
    z-index: 1;
    position: absolute;
}

@media screen and (max-width: 1350px) {
    .button2 {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .second-footer-column {
        flex-wrap: wrap;
        min-width: 100%;
    }

    .first-footer-column {
        gap: var(--gap-lgi);
    }

    .footer {
        gap: var(--gap-base);
    }

    .desktop-1 {
        gap: 261px;
    }
}

@media screen and (max-width: 450px) {
    .text-strong1,
    .text-strong3 {
        font-size: var(--body-base-size);
        line-height: 22px;
    }

    .second-footer-column {
        gap: var(--gap-lgi);
    }

    .crowdsisters,
    .sguenos {
        font-size: var(--body-base-size);
        line-height: 22px;
    }

    .crowdsisters {
        line-height: 19px;
    }

    .desktop-1 {
        gap: 130px;
    }
}
.iniciosesin-2-icon {
    width: 563.3px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.x-icon5 {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.inicia-sesin {
    margin: 0;
    width: 287px;
    position: relative;
    font-size: inherit;
    line-height: 48px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
}

.header-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
}

.description,
.label {
    width: 240px;
    position: relative;
    font-size: var(--single-line-body-base-size);
    line-height: 140%;
    font-family: var(--single-line-body-base);
    color: var(--text-default-default);
    text-align: left;
    display: none;
}

.description {
    color: var(--text-default-secondary);
}

.input,
.value1 {
    flex: 1;
    max-width: 100%;
}

.value1 {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--single-line-body-base);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 14px;
    position: relative;
    line-height: 100%;
    color: var(--text-default-tertiary);
    text-align: left;
    display: inline-block;
    min-width: 221px;
    padding: 0;
}

.input {
    height: 39px;
    border-radius: var(--radius-200);
    background-color: var(--background-default-default);
    border: 1px solid var(--border-default-default);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--space-300) var(--padding-mini) var(--space-300) var(--space-400);
    min-width: 240px;
}

.error {
    width: 37px;
    position: relative;
    font-size: var(--single-line-body-base-size);
    line-height: 140%;
    font-family: var(--single-line-body-base);
    color: var(--text-default-default);
    text-align: left;
    display: none;
}

.input-email,
.input-email-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.input-email {
    align-self: stretch;
    height: 38px;
    flex-direction: row;
    gap: var(--space-200);
}

.input-email-parent {
    width: 401px;
    flex-direction: column;
    padding: 0 0 var(--padding-9xs);
    box-sizing: border-box;
    gap: var(--gap-lgi);
}

.star-icon5 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
    min-height: 16px;
}

.button6 {
    align-self: stretch;
    position: relative;
    font-size: var(--single-line-body-base-size);
    line-height: 100%;
    font-family: var(--single-line-body-base);
    color: var(--text-neutral-default);
    text-align: left;
}

.button5 {
    height: 40px;
    width: 112px;
    border-radius: var(--radius-200);
    overflow: hidden;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--space-300);
    box-sizing: border-box;
    gap: var(--space-200);
}

.button8 {
    position: relative;
    font-size: 14px;
    line-height: 100%;
    display: inline-block;
    font-family: var(--single-line-body-base);
    color: var(--color-ghostwhite);
    text-align: left;
    min-width: 104px;
}

.button-inicio-sesin,
.button7 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
}

/* Botón con la clase .button7 */
.button7 {
    flex: 1;
    border-radius: var(--radius-200);
    background-color: var(--color-mediumpurple);
    border: 1px solid var(--color-indigo);
    box-sizing: border-box;
    justify-content: center;
    padding: 9px var(--padding-xl);
    gap: var(--space-200);
}

    /* Cambia el color de fondo al hacer hover sobre el botón .button7 */
    .button7:hover {
        background-color: #581E99; /* Cambia el color aquí si lo deseas */
    }

/* Botón con la clase .button-inicio-sesin */
.button-inicio-sesin {
    cursor: pointer;
    border-radius: var(--radius-200);
    border: 0;
    padding: 0;
    background-color: transparent;
    width: 401px;
    justify-content: flex-start;
    gap: var(--space-400);
}

    /* Cambia el color de fondo al hacer hover sobre el botón .button-inicio-sesin */
    .button-inicio-sesin:hover {
        background-color: #581E99; /* Cambia el color aquí si lo deseas */
    }


.text-link {
    position: relative;
    font-size: var(--font-size-sm);
    text-decoration: underline;
    line-height: 20px;
    font-family: var(--single-line-body-base);
    color: var(--color-indigo);
    text-align: left;
}

.button-inicio-sesin-parent,
.olvidaste-contrasea-link {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.button-inicio-sesin-parent {
    flex-direction: column;
    padding: 0 0 var(--padding-9xs);
    box-sizing: border-box;
    gap: var(--gap-lgi);
    max-width: 100%;
}

.frame-item {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-silver);
    box-sizing: border-box;
}

.line-wrapper {
    width: 85px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
    box-sizing: border-box;
}

.o-elige-una {
    position: relative;
    font-size: 10px;
    line-height: 100%;
    font-family: var(--single-line-body-base);
    color: var(--color-silver);
    text-align: left;
}

.frame-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14.5px;
}

.button9 {
    align-self: stretch;
    width: 112px;
    border-radius: var(--radius-200);
    overflow: hidden;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--space-300);
    box-sizing: border-box;
    gap: var(--space-200);
}

.button12 {
    flex: 1;
    position: relative;
    font-size: 15px;
    line-height: 100%;
    display: inline-block;
    font-family: Inter;
    color: var(--color-ghostwhite);
    white-space: pre-wrap;
    text-align: center;
    max-width: 100%;
}

.x-icon9 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}

.button-google,
.button11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

/* Botón con la clase .button11 */
.button11 {
    flex: 1;
    border-radius: var(--radius-200);
    background-color: var(--color-mediumpurple);
    border: 1px solid var(--color-indigo);
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--padding-3xs) var(--padding-2xs);
    gap: var(--space-200);
}

    /* Cambia el color de fondo al hacer hover sobre el botón .button11 */
    .button11:hover {
        background-color: #581E99; /* Cambia el color aquí si lo deseas */
    }

.button7 {
    flex: 1;
    border-radius: var(--radius-200);
    background-color: var(--color-mediumpurple);
    border: 1px solid var(--color-indigo);
    box-sizing: border-box;
    justify-content: center;
    padding: 9px var(--padding-xl);
    gap: var(--space-200);
}
.button-google {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    gap: var(--space-400);
    height: 100%;
}

.google-1-icon {
    position: absolute;
    top: 7px;
    left: 20px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    z-index: 1;
}

.google-button,
.input-container {
    align-self: stretch;
    max-width: 100%;
}

.google-button {
    height: 40px;
    position: relative;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 19.5px;
}

.eres-nueva-en {
    color: var(--color-indigo);
    white-space: pre-wrap;
    margin-left:25px;
}
.ya-tienes-cuenta {
    color: var(--color-indigo);
    white-space: pre-wrap;
    margin-left:50px;
}
.span1 {
    color: var(--text-default-default);
}

.text-link1 {
    position: relative;
    font-size: var(--font-size-sm);
    text-decoration: underline;
    line-height: 20px;
    font-family: var(--single-line-body-base);
    text-align: justify;
}

.eres-nueva {
    flex-direction: row;
    padding: 0 var(--padding-xs) 0 0;
    box-sizing: border-box;
}

.eres-nueva,
.eres-nueva-wrapper,
.input-container-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}

.eres-nueva-wrapper {
    flex-direction: row;
    padding: 0 var(--padding-18xl);
    box-sizing: border-box;
}

.input-container-parent {
    width: 401px;
    flex-direction: column;
    gap: 26px;
}

.este-sitio-est {
    color: var(--color-silver);
}

.poltica-de-privacidad2 {
    text-decoration: underline;
}

.poltica-de-privacidad1 {
    color: var(--color-plum-100);
}

.poltica-de-privacidad {
    color: inherit;
}

.ptc {
    align-self: stretch;
    position: relative;
    font-size: 10px;
    line-height: 100%;
    font-family: var(--single-line-body-base);
    text-align: left;
}

.auth-container,
.form {
    width: 401px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    max-width: 100%;
}

.form {
    margin: 0;
    width: 467px;
    padding: 0 0 var(--padding-mid);
    box-sizing: border-box;
    gap: 28px;
}

.crowdsisterslogocolor-icon {
    width: 401px;
    position: relative;
    max-height: 100%;
    object-fit: cover;
    max-width: 100%;
    margin-top:-25px;
}

.content,
.login {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.content {
    flex: 1;
    background-color: var(--color-ghostwhite);
    flex-direction: column;
    padding: 30px 46px 26px 200px;
    gap: 36px;
    margin-left:0px;
    min-width: 510px;
}

.login {
    width: 1540px;
    background-color: transparent;
    flex-direction: row;
    padding: 0 0 0 100px;
    gap: 48.7px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: 36px;
    color: var(--color-indigo);
    font-family: var(--single-line-body-base);
}

@media screen and (max-width: 1125px) {
    .iniciosesin-2-icon {
        flex: 1;
    }

    .login {
        flex-wrap: wrap;
        padding: var(--padding-xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 1050px) {
    .inicia-sesin {
        font-size: 29px;
        line-height: 38px;
    }

    .content {
        padding-left: 96px;
        padding-right: var(--padding-3xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 750px) {
    .content {
        padding-top: var(--padding-xl);
        padding-bottom: var(--padding-xl);
        box-sizing: border-box;
        min-width: 100%;
    }

    .login {
        gap: var(--gap-5xl);
    }
}

@media screen and (max-width: 450px) {
    .inicia-sesin {
        font-size: 22px;
        line-height: 29px;
    }

    .frame-group {
        flex-wrap: wrap;
    }

    .content {
        gap: 18px;
        padding-left: var(--padding-xl);
        box-sizing: border-box;
    }
}
