.imagenproyecto-icon {
    width: 1554px;
    height: 633px;
    margin: 0 !important;
    position: absolute;
    top: -6px;
    left: -14px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}


.ecobeauty-,
.ttulo {
    margin: 0;
}

.ttulo {
    position: relative;
    font-size: inherit;
    letter-spacing: -0.03em;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
}

.ttuloproyecto {
    position: absolute;
    top: 0;
    left: 48px;
    width: 1246px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-7xs);
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
}

.flecha-izquierda-icon {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
}

.days-remaining-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 77px 0 0;
}

.span {
    font-size: var(--font-size-9xl);
}

.das {
    margin: 0;
    font-size: var(--font-size-xl);
}

.das-restantes {
    height: 88px;
    flex: 1;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 160%;
    font-weight: 600;
    display: inline-block;
    z-index: 1;
}

.days-remaining-container-parent {
    width: 123px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 123px;
}

.recaudacin {
    flex: 1;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 160%;
    font-weight: 600;
    text-align: right;
    display: inline-block;
    min-width: 115px;
    z-index: 1;
}

.countdown-details {
    width: 352px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-32xl);
    max-width: 100%;
}

.star-icon3 {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}

.button3 {
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 120%;
    font-family: var(--body-strong);
    color: var(--color-ghostwhite);
    text-align: left;
}

.botn-descubre-ms-proyectos {
    cursor: pointer;
    border: 1px solid var(--color-indigo);
    padding: var(--padding-smi) 14px var(--padding-smi) var(--padding-mini);
    background-color: var(--color-mediumpurple);
    border-radius: var(--radius-200);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--space-200);
    box-sizing: border-box;
    margin-right: 30px;
}

.botn-descubre-ms-proyectos-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 39px 61px;
    box-sizing: border-box;
    max-width: 100%;
}

/* Aplica el hover directamente al botón */
.botn-descubre-ms-proyectos:hover {
    background-color: #581E99;
}

.proyectos-impulsados {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 140%;
    font-weight: 500;
    font-family: inherit;
}

.projects-boosted {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-18xl);
}

.flecha-izquierda-icon1 {
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.flecha-izquierda-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-134xl) 0 0;
}

.image-icon {
    align-self: stretch;
    height: 194px;
    border-radius: var(--br-5xs);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}

.image-overlay {
    align-self: stretch;
    height: 12px;
    position: relative;
    border-radius: var(--br-6xl);
    background-color: var(--color-lightgreen);
}

.ttulo2 {
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
}

.ttulo1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 32px var(--padding-12xs) 0;
}

.crowdsisterslogomanoverde-1-icon {
    height: 85px;
    width: 85px;
    position: relative;
    object-fit: cover;
}

.de-85001 {
    margin: 0;
    font-size: var(--body-strong-size);
    color: var(--color-thistle);
}

.de-8500 {
    align-self: stretch;
    height: 71px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 140%;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}

.project-euro {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-6xl) 0 0;
    box-sizing: border-box;
    min-width: 116px;
}

.card-1,
.project-card-details,
.project-card-footer {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.project-card-footer {
    flex-direction: row;
    gap: var(--gap-12xl);
    text-align: right;
    font-size: var(--font-size-13xl);
}

.card-1,
.project-card-details {
    flex-direction: column;
}

.card-1 {
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumpurple);
    overflow: hidden;
    align-items: flex-end;
    padding: var(--padding-3xl) var(--padding-5xl) var(--padding-smi) var(--padding-4xl);
    gap: var(--gap-smi);
}

.project-cards,
.ttulo-wrapper,
.ttulo3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.project-cards {
    width: 355px;
    flex-direction: column;
    padding: 0 var(--padding-2xs) 0 0;
    box-sizing: border-box;
    max-width: 100%;
}

.ttulo-wrapper,
.ttulo3 {
    flex-direction: row;
}

.ttulo3 {
    padding: 0 var(--padding-xl) var(--padding-12xs) 0;
}

.ttulo-wrapper {
    padding: 0 3px;
}

.de-40002 {
    margin: 0;
    font-size: var(--body-strong-size);
}

.second-card-footer {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-15xl);
    text-align: right;
    font-size: var(--font-size-13xl);
}

.card-2 {
    width: 344px;
    border-radius: var(--br-5xs);
    background-color: var(--color-plum-200);
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--padding-3xl) var(--padding-5xl) var(--padding-smi) var(--padding-4xl);
    box-sizing: border-box;
    gap: var(--gap-smi);
    color: var(--color-darkslategray-100);
}

.card-2,
.project-buttons,
.project-countdown,
.projects-slider {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
}

.projects-slider {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    gap: 55px;
    text-align: left;
    font-size: var(--body-strong-size);
    color: var(--color-ghostwhite);
}

.project-buttons,
.project-countdown {
    flex-direction: column;
}

.project-buttons {
    align-self: stretch;
    align-items: flex-end;
    gap: var(--gap-28xl);
    text-align: right;
    font-size: var(--font-size-39xl);
    color: var(--color-indigo);
}

.project-countdown {
    flex: 1;
    align-items: flex-start;
    gap: 337px;
}

.ttulo6 {
    width: 275px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
    display: inline-block;
    flex-shrink: 0;
}

.card-1-parent,
.card-11,
.ttulo5 {
    display: flex;
    justify-content: flex-start;
}

.ttulo5 {
    width: 250px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 0 var(--padding-12xs) 0;
    box-sizing: border-box;
}

.card-1-parent,
.card-11 {
    max-width: 100%;
}

.card-11 {
    flex: 1;
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumpurple);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    padding: var(--padding-3xl) var(--padding-5xl) var(--padding-smi) var(--padding-4xl);
    box-sizing: border-box;
    gap: var(--gap-smi);
    min-width: 224px;
}

.card-1-parent {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    gap: 49px;
}

.flecha-derecha-parent,
.project-details {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
}

.flecha-derecha-parent {
    width: 441px;
    flex-direction: column;
    gap: 630px;
    min-width: 441px;
    text-align: left;
    font-size: var(--body-strong-size);
}

.project-details {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    flex-direction: row;
    gap: 66px;
    text-align: center;
    font-size: var(--font-size-21xl);
}

.ttuloproyecto-parent {
    height: 1287px;
    flex: 1;
    position: relative;
    max-width: 100%;
}

.project-header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-22xl) 0 var(--padding-16xl);
    box-sizing: border-box;
    max-width: 100%;
    text-align: left;
    font-size: 54px;
    color: var(--color-ghostwhite);
    font-family: var(--body-strong);
}

.crowdsisterslogocolor-1-icon,
.crowdsisterslogomano-1-icon {
    position: absolute;
    top: 0;
    left: 131.5px;
    width: 445.9px;
    height: 423.7px;
    object-fit: cover;
}

.crowdsisterslogocolor-1-icon {
    top: 110.1px;
    left: 0;
    width: 693px;
    height: 556px;
    z-index: 1;
}

.logo-container {
    height: 544px;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
}

.logo,
.ttulo7 {
    position: relative;
}

.logo {
    height: 666.1px;
    width: 693px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: calc(100% - 640px);
}

.ttulo7 {
    margin: 0;
    width: 576px;
    font-size: inherit;
    line-height: 120%;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
}

.descripcin {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 150%;
    font-weight: 600;
    font-family: var(--body-strong);
    color: var(--color-slateblue);
    text-align: justify;
}

.title-description {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
    max-width: 100%;
}

.button4 {
    position: relative;
    line-height: 22px;
}

.botn-empieza-tu-proyecto {
    border-radius: var(--radius-200);
    background-color: var(--color-mediumpurple);
    border: 1px solid var(--color-indigo);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 17px;
    gap: var(--space-200);
    box-sizing: border-box;
    font-size: 18px;
    color: var(--color-ghostwhite);
    font-family: var(--body-base);
}

/* Este es el contenedor del botón */
.botn-empieza-tu-proyecto-wrapper {
    width: 557px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
    max-width: 100%;
}

/* Aplica el cambio de color al botón al hacer hover */
.botn-empieza-tu-proyecto:hover {
    background-color: #581E99;
}

.description-details {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-29xl);
    max-width: 100%;
}

.descripcin-crowdsisters,
.description-container,
.home {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
}

.description-container {
    width: 613px;
    flex-direction: column;
    padding: var(--padding-33xl) 0 0;
    max-width: calc(100% - 720px);
    flex-shrink: 0;
}

.descripcin-crowdsisters,
.home {
    overflow: hidden;
}

.descripcin-crowdsisters {
    align-self: stretch;
    height: 544px;
    background: linear-gradient(180deg, #d0bcff, #f7f0fc);
    flex-shrink: 0;
    flex-direction: row;
    padding: 0 0 var(--padding-78xl);
    gap: var(--gap-8xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-indigo);
    font-family: var(--font-roboto);
}

.home {
    width: 100%;
    position: relative;
    background-color: var(--color-ghostwhite);
    flex-direction: column;
    padding: 79px 0 0;
    gap: 137px;
    line-height: normal;
    letter-spacing: normal;
}

@media screen and (max-width: 1200px) {
    .flecha-derecha-parent {
        flex: 1;
    }

    .project-details {
        flex-wrap: wrap;
    }

    .ttuloproyecto-parent {
        height: auto;
        min-height: 1287;
    }
}

@media screen and (max-width: 1050px) {
    .ttulo {
        font-size: 43px;
        line-height: 52px;
    }

    .proyectos-impulsados {
        font-size: var(--font-size-27xl);
        line-height: 65px;
    }

    .projects-slider {
        flex-wrap: wrap;
    }

    .project-countdown {
        gap: 168px;
    }

    .logo {
        display: none;
        max-width: 100%;
    }

    .ttulo7 {
        font-size: var(--font-size-13xl);
        line-height: 38px;
    }

    .description-container {
        display: none;
        max-width: 100%;
    }

    .descripcin-crowdsisters {
        padding-left: var(--padding-8xl);
        padding-right: var(--padding-8xl);
        padding-bottom: var(--padding-44xl);
        box-sizing: border-box;
    }
}

@media screen and (max-width: 750px) {
    .flecha-derecha-parent,
    .project-countdown {
        min-width: 100%;
    }

    .project-details {
        gap: var(--gap-14xl);
    }

    .description-details {
        gap: var(--gap-5xl);
    }

    .home {
        gap: 68px;
    }
}

@media screen and (max-width: 450px) {
    .ttulo {
        font-size: var(--font-size-13xl);
        line-height: 39px;
    }

    .das-restantes {
        font-size: var(--body-strong-size);
        line-height: 51px;
    }

    .days-remaining-container-parent {
        flex: 1;
    }

    .recaudacin {
        font-size: var(--body-strong-size);
        line-height: 51px;
    }

    .countdown-details {
        flex-wrap: wrap;
        gap: var(--gap-6xl);
    }

    .button3 {
        font-size: var(--body-strong-size);
        line-height: 19px;
    }

    .proyectos-impulsados {
        font-size: var(--font-size-16xl);
        line-height: 49px;
    }

    .project-card-footer {
        flex-wrap: wrap;
        gap: var(--gap-mini);
    }

    .second-card-footer {
        flex-wrap: wrap;
        gap: var(--gap-mid);
    }

    .projects-slider {
        gap: var(--gap-8xl);
    }

    .project-buttons {
        gap: var(--gap-4xl);
    }

    .project-countdown {
        gap: 84px;
    }

    .card-1-parent {
        flex-wrap: wrap;
        gap: var(--gap-5xl);
    }

    .flecha-derecha-parent {
        gap: 315px;
    }

    .project-details {
        gap: var(--gap-base);
    }

    .ttulo7 {
        font-size: var(--font-size-5xl);
        line-height: 29px;
    }

    .descripcin {
        font-size: var(--body-strong-size);
        line-height: 24px;
    }

    .description-container {
        padding-top: var(--padding-15xl);
        box-sizing: border-box;
    }

    .descripcin-crowdsisters {
        padding-bottom: var(--padding-22xl);
        box-sizing: border-box;
    }

    .home {
        gap: var(--gap-15xl);
    }
}
